STAGE=dev

DB_PASSWORD=David12345
DB_NAME=Tiendatdea
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres

MAIL_HOST=smtp.office365.com
MAIL_PORT=587
MAIL_USER=           ← vacío intencionalmente
MAIL_PASS=           ← vacío intencionalmente
MAIL_FROM=
FRONTEND_URL=
JWT_VERIFY_SECRET=
